.App {
  footer {
    margin-top: 4rem;
    padding: 1rem;
    background-color: #f79489;
    text-align: center;
    color: white;
  }
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
  color: black;
}
